.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
}

.main__form {
    width: 90%;
    max-width: 450px;
}